/** Header*/
.botonVerMas, .destacadoTienda, .navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formularioMayorista form, .formularioMayorista, .pagos form, .pagos, .direccion form, .direccion, .cardTienda {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes animacion {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.navBar {
  background-color: rgb(12, 150, 230);
  color: white;
}
.navBar .titulo {
  font-size: 10vh;
}
.navBar ul {
  display: flex;
}
.navBar img {
  width: 7%;
  height: 10%;
  margin: 10px;
  border-radius: 5px;
}

.botonNavBar {
  list-style-type: none;
  color: rgb(12, 150, 230);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 3vh;
  background-color: white;
}
.botonNavBar a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: rgb(12, 150, 230);
}

.botonVerMas, .destacadoTienda, .navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formularioMayorista form, .formularioMayorista, .pagos form, .pagos, .direccion form, .direccion, .cardTienda {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes animacion {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.subtituloIndex {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.destacadoTienda {
  margin: 5rem;
}

.cardTienda {
  width: 25rem;
  border-radius: 3rem;
  margin: 10px;
  padding: 10px;
  background-color: rgb(12, 150, 230);
}
.cardTienda .imgCamisetas {
  width: 15rem;
  height: 20rem;
  margin: 20px;
  border-radius: 2rem;
}
.cardTienda ul {
  margin-right: 3rem;
  margin-left: 3rem;
}

.botonComprar {
  color: rgb(12, 150, 230);
  text-decoration: none;
  color: inherit;
  background-color: whitesmoke;
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  color: rgb(12, 150, 230);
  cursor: pointer;
  transition: all 0.3s ease;
}
.botonComprar:hover {
  animation: animacion 2s ease-out 3;
}

.contenedorVerMas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.botonVerMas {
  text-decoration: none;
  color: inherit;
  background-color: rgb(12, 150, 230);
  color: white;
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.botonVerMas:hover {
  animation: animacion 2s ease-out 3;
}

/* tienda */
.contenedorPrincipalTienda {
  display: flex;
  flex-direction: column;
}

.contenedorUno {
  display: flex;
  justify-content: space-around;
}

.contenedorDos {
  display: flex;
  justify-content: space-around;
}

.contenedorTres {
  display: flex;
  justify-content: space-around;
}

/** compras */
.navBar, .destacadoTienda, .botonVerMas {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formularioMayorista form, .formularioMayorista, .pagos form, .pagos, .direccion form, .direccion, .cardTienda {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes animacion {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.contenedorComprar {
  display: flex;
  justify-content: center;
}

.carrusel {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 25px auto;
}

.navBar, .destacadoTienda, .botonVerMas {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formularioMayorista form, .formularioMayorista, .cardTienda, .direccion, .direccion form, .pagos, .pagos form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes animacion {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.contactos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}
.contactos .logos {
  width: 4rem;
  height: 4rem;
  margin: 1px;
}

.formularioMayorista {
  background-color: rgb(255, 255, 255);
}
.formularioMayorista form {
  padding: 1rem;
}

/** Footer */
.navBar, .destacadoTienda, .botonVerMas {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardTienda, .direccion, .direccion form, .pagos, .pagos form, .formularioMayorista, .formularioMayorista form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes animacion {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
footer {
  font-size: 3vh;
  background-color: rgb(12, 150, 230);
}
footer .logos {
  width: 4%;
  height: 4%;
  margin: 10px;
}
footer .pieDePagina {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer p {
  display: flex;
  justify-content: center;
}

.navBar, .destacadoTienda, .botonVerMas {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardTienda, .direccion, .direccion form, .pagos, .pagos form, .formularioMayorista, .formularioMayorista form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes animacion {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 800px) {
  .navBar .titulo {
    font-size: 5vh;
  }
  .navBar ul {
    flex-direction: column;
  }
  .navBar img {
    width: 12vh;
  }
  .botonNavBar {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 2vh;
  }
  .subtituloIndex {
    font-size: 2rem;
  }
  .destacadoTienda {
    flex-direction: column;
    margin: 3rem;
  }
  /* Tienda */
  .contenedorUno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedorDos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedorTres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
  }
  .contactos .logos {
    width: 2.5rem;
    height: 2.5rem;
    margin: 8px;
  }
  footer {
    font-size: 2vh;
  }
  footer .logos {
    width: 4vh;
    height: 4vh;
    margin: 10px;
  }
  footer .pieDePagina {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  footer p {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 320px) {
  .navBar {
    flex-direction: column;
    align-items: center;
  }
  .navBar .titulo {
    font-size: 3vh;
  }
  .navBar ul {
    flex-direction: column;
  }
  .navBar img {
    width: 8vh;
  }
  .cardTienda {
    width: 18em;
    border-radius: 3rem;
    margin: 7px;
    padding: 7px;
  }
  .cardTienda .imgCamisetas {
    width: 8rem;
    height: 12rem;
    margin: 5px;
    border-radius: 2rem;
  }
  .cardTienda ul {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .botonVerMas {
    margin: 10rem;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 1rem;
  }
  .contactos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
  }
  .contactos .logos {
    width: 2rem;
    height: 2rem;
    margin: 10px;
  }
  footer {
    font-size: 1vh;
    background-color: rgb(12, 150, 230);
  }
  footer .logos {
    width: 2vh;
    height: 2vh;
    margin: 5px;
  }
  footer .pieDePagina {
    flex-direction: column;
  }
  footer p {
    align-items: center;
  }
}
* {
  font-family: "Poppins", serif;
}

.main {
  background-color: rgba(146, 224, 248, 0.39);
}

/*# sourceMappingURL=styles.css.map */
