%noneEstilo {
    
    text-decoration: none;
    color: inherit;    
    
}

%flexHorizontal {

    display: flex;
    align-items: center;
    justify-content: space-between;


}


%flexColum {

    display: flex;
    flex-direction: column;
    align-items: center;
}