@import "../utilities/variables.scss";
@import "../utilities/extends.scss";
@import "../utilities/mixing.scss";



@media (max-width: 800px) {

    .navBar{

        
        .titulo {
            font-size: 5vh;
        }
        ul {
            flex-direction: column;
        }

        img {

            width: 12vh;
        }
     
    }

    .botonNavBar{
        
        
      
    
        @include tamañoBoton (5px,5px,5px,2vh);
        
   
    }


    .subtituloIndex {
    
        font-size: 2rem;
    }
    
    
    .destacadoTienda {
    flex-direction: column;
    
    margin: 3rem;

    }

    /* Tienda */
 
    .contenedorUno {

        @include flexCompuesto(column,center,center);

    } 
    
    .contenedorDos {

        @include flexCompuesto(column,center,center);

    }
    
    .contenedorTres {
       
        @include flexCompuesto(column,center,center);



    }
    
   
    
    .contactos {
       

    
            @include flexCompuesto(column,space-around,center);
    
            font-size: 1rem;
           
    
        .logos {
           @include tamañoLogos (2.5rem,2.5rem,8px);
            
           
    
        }
        
    
    }

    
    footer {
    
        .logos {
            @include tamañoLogos (4vh,4vh,10px);
           
        }
        font-size: 2vh;    
    
        
        .pieDePagina {
            @include flexCompuesto (row,space-around,center);
        
        }
    
        p {
            display: flex;
    
            justify-content: center;
        }
    }
  
    
}


@media (max-width: 320px) {

    .navBar{

        flex-direction: column;
        align-items: center;
        .titulo {
            font-size: 3vh;
        }
        ul {
            flex-direction: column;
            
        }

        img {

            width: 8vh;
        }
     
    }


    .cardTienda {

        
     
    
            .imgCamisetas{
                @include tamañoImagen (8rem,12rem,5px,2rem);
                
                
            }
    
        
            @include tamañoCard (18em,3rem,7px,7px);

            
           
            ul {
    
                margin-right: 1rem;
                margin-left: 1rem;
    
            }

        }


        .botonVerMas{

        
            
        @include tamañoBoton (20rem,2rem,1rem,1.5rem);
            
        
        
        
        }
        .contactos {
            @include flexCompuesto(column,center,center);
           
            div{
        
                @include flexCompuesto(column,center,center);

                
                font-size: 0.5rem;
               
            }
            .logos {
               @include tamañoLogos (2rem,2rem,10px);
                
               
        
            }
            
        
        }
            
        
        
    

    footer {
    
        .logos {
    
           @include tamañoLogos (2vh,2vh,5px);
           
        }
        font-size: 1vh;    
    
        background-color:$colorPrimario;
    
        .pieDePagina {
    
            flex-direction: column;
          
        
        }
    
        p {
            align-items: center;
        }
    }
  

}